
/*General*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: white;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.container{
    padding: 1rem;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    margin-bottom: 1rem;
}

/*Header*/
.current{
    border-bottom: 2px solid white;
}

#main-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.overlay{
    position: absolute;
    background-color: #1a1a1d7a;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#main-header>.container{
    position: absolute;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 10vh;
    z-index: 30;
}

.main-nav{
    margin-top: 1rem;
    align-self: start;
}

.main-nav>ul{
    display: flex;
    column-gap: 2rem;
}

.main-nav li>a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .4s;
}

.main-nav li>a:hover::after{
    width: 100%;
    transition: width .4s;
}

.main-nav li>a:hover{
    animation: nav_hover_text .3s ease forwards;
}

#main-header svg path:nth-child(1){
    stroke-dasharray: 608px;
    stroke-dashoffset: 608px;
    animation: line-anim 2s ease forwards;
}
#main-header svg path:nth-child(2){
    stroke-dasharray: 225px;
    stroke-dashoffset: 225px;
    animation: line-anim 2s ease forwards 0.3s;
}
#main-header svg path:nth-child(3){
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 2s ease forwards 0.6s;
}
#main-header svg path:nth-child(4){
    stroke-dasharray: 534px;
    stroke-dashoffset: 534px;
    animation: line-anim 2s ease forwards 0.9s;
}
#main-header svg path:nth-child(5){
    stroke-dasharray: 314px;
    stroke-dashoffset: 314px;
    animation: line-anim 2s ease forwards 1.2s;
}
#main-header svg path:nth-child(6){
    stroke-dasharray: 474px;
    stroke-dashoffset: 474px;
    animation: line-anim 2s ease forwards 1.5s;
}

.lg-text-center{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
}

section svg{
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
}

.text-anim{
    animation: line-anim 4s ease forwards;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

.lg-head{
    margin: 2rem 0;
    font-size: 3rem;
}

.sm-head{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/*Sections*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
}

.section-btn{
    border: none;
    padding: 1rem 2rem;
    background-color: white;
    color: #C3073F;
    transition: all 0.3s ease;
}

.section-btn:hover{
    background-color: #8f0830;
    color: white;
}

.section-btn:focus{
    border:none;
    outline: none;
}

.section-cover{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #C3073F;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.section-anim-shrink{
    animation: section-anim-shrink 1s ease forwards; 
}

.section-anim-stretch{
    animation: section-anim-stretch 1s ease forwards;
}

@keyframes section-anim-stretch{
    0%{
        width: 30%;
    }
    100%{
        width: 100%;
    }
}

@keyframes section-anim-shrink{
    0%{
        width: 100%;
    }
    100%{
        width: 30%;
    }
}

.section-content-anim{
    animation: section-content-show 1s ease forwards;
}

@keyframes section-content-show{
    from{opacity: 0;}
    to{opacity: 1;}
}

.section-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
    opacity: 0;
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    left: 30%;
    overflow-y: scroll;
    overscroll-behavior: contain;
    background-color: white;
    color: black;
    line-height: 1.5rem;
}

#about .section-content{
    padding: 3rem;
}

#personal{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
    column-gap: 2rem;
}

#personal img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}